<footer class="bg-black">
    <div class="px-4 py-2 d-flex align-items-center h-10" fxFlex fxFlex="100" fxFlexLayout="row">
            <div class="links align-items-center d-flex gap-2" fxFlex="30">
                <select class="language-selector btn btn-link me-2">
                    <option value="EN">Español</option>
                    <option class="active" value="ES">English</option>
                </select>
                <a href="https://frontendshape.com/disclaimer" class="text-sm">TOU</a>
                <a href="https://frontendshape.com/terms-of-use" class="text-sm">Privacy</a>
                <a href="https://frontendshape.com/about-us" class="text-sm">Cookie preferences</a>
            </div>
            <div class="copy" fxFlex="40">
                <a href="#" class="text-gray-500 hover:text-gray-600">© Copyright 2023
                    SoundSieve. All Rights Reserved.</a>
            </div>
            <div class="footer-space"></div>
    </div>
</footer>
