<footer class="d-flex align-items-center">
    <div class="container-fluid px-4 py-2 d-flex h-10" fxFlex fxFlex="100" fxFlexLayout="row">
            <div class="links align-items-center d-flex gap-3" fxFlex="30">
                <select class="language-selector btn btn-link me-2">
                    <option value="EN">Español</option>
                    <option class="active" value="ES">English</option>
                </select>
                <a href="#" class="text-sm">TOU</a>
                <a href="#" class="text-sm">Privacy</a>
                <a href="#" class="text-sm">Cookie preferences</a>
            </div>
            <div class="copy" fxFlex="40">
                <a href="#" class="text-gray-500 hover:text-gray-600">© Copyright 2023
                    SoundSieve. All Rights Reserved.</a>
            </div>
            <div class="footer-space"></div>
    </div>
</footer>
