/* Variables */

/* Colors */
$primary-color: #FC1F6F;
$hover-primary-color: #A8023E;
$disable-primary-color: #6E1636;
$outline-primary-color: #FD8FB7;
$secondary-color: #4EC3F9;
$hover-secondary-color: #047CA5;
$disable-secondary-color: #17576D;
$outline-secondary-color: #90E0FC;
$dark: #101010;
$dark-transparent: #10101001;
$dark-medium: #efefef3b;
$light: #FEFEFE;
$light-medium: #c0c0c0;
$shadow: #00000026;

/* Font Family */
$ff-poppins: 'Poppins', sans-serif;
$ff-inter: 'Inter', sans-serif;

/* Font Sizes */
$fs-1: 1rem;
$fs-2: 1.2rem;
$fs-3: 1.4rem;
$fs-4: 1.6rem;
$fs-5: 1.8rem;

/* Heading */
$h1: 4rem;
$h2: 3.2rem;
$h3: 2.4rem;
$h4: 2rem;
$text: 1.6rem;

/* Font Weights */
$fw-1: 100;
$fw-2: 200;
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;

/* Border radius */

$br-1: 5px;
$br-2: 10px;
$br-3: 15px;
$br-4: 20px;
$br-5: 25px;
$br-all: 25rem;