#SoundSieve gitignore
SoundSieve-Front/node-modules/
SoundSieve-Front/dist/
SoundSieve-Back/node-modules/


# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
