#SoundSieve gitignore
SoundSieve-Front/node-modules/
SoundSieve-Front/package-lock.json
SoundSieve-Back/node-modules/
SoundSieve-Back/package-lock.json


# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
