@import './../../../../assets/base';

.navbar {
    height: 80px;
    @include glass-bg;
}

.logo__title {
    font-size: $fs-4;
    font-weight: $fw-6;
    margin-bottom: 0;
    color: $light;
}

.search__bar {
    width: 40%;
}