<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
  <!-- Container wrapper -->
  <div class="container-fluid align-items-center mx-4" fxFlexLayout="row">
    <!-- Collapsible wrapper -->
    <!-- Navbar brand -->
    <a *ngIf="!isToken" class="navbar-brand" fxFlex href="headerOptions.main[0].url">
      <div class="brand-logo d-flex align-items-center gap-2">
        <img src="../../../../assets/images/svg/SoundSieve_Logo.svg" height="40" alt="SoundSieve-logo" loading="lazy" />
        <p class="logo__title">SoundSieve</p>
      </div>
    </a>
    <a *ngIf="isToken" class="navbar-brand" fxFlex href="headerOptions.main[1].url">
      <div class="brand-logo d-flex align-items-center gap-2">
        <img src="../../../../assets/images/svg/SoundSieve_Logo.svg" height="40" alt="SoundSieve-logo" loading="lazy" />
        <p class="logo__title">SoundSieve</p>
      </div>
    </a>
    <div class="search__bar" fxFlex="40">
      <app-search-bar *ngIf="!currentUrl.includes('search')"></app-search-bar>
    </div>
    <div ngIf="isToken" class="right__links d-flex align-items-center gap-5" fxFlex="30" *ngFor="let link of headerOptions.links">
      <a [routerLink]="link.url" [class]="(link.childs)? 'nav-item dropdown': ''">{{(!link.childs)? link.title : ''}}
        <div>
          <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">{{link.title}}
          </button>
          <ul class="dropdown-menu dropdown-menu-dark" *ngFor="let child of link.childs">
            <li><a class="dropdown-item" href="child.url">{{child.title}}</a></li>
          </ul>
        </div>
      </a>
      <div ngIf="!isToken" class="auth__btns d-flex align-items-center gap-3" *ngFor="let button of headerOptions.buttons">
        <a href="">{{'hola'}}</a>
        <a [class]="button.type" [routerLink]="button.url">button.title</a>
      </div>
    </div>
  </div>
</nav>
<!-- Navbar -->