<section class="p-0 m-0 w-100 line-bg2">
  <div class="explore-hero-img" alt="hero-img"></div>
  <div class="hero">
    <div class="hero-section-content">
      <app-section
        class="col-sm-12 col-lg-6 p-0"
        sHeading="Discover. Explore. Unleash the Music!"
        sContent="Explore the world of music like never before. Dive into a vast collection of genres, discover new artists, and find your next favorite tune"
        sBtnTitle="Explore"
        sAlign="right"
        [sBtnUrl]="resultUrl"
      ></app-section>
    </div>
  </div>
</section>
